@font-face {
	font-family: 'disket_monobold';
	src: url("/style/fonts/disket-mono-bold-webfont.woff2") format("woff2"), url("/style/fonts/disket-mono-bold-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'disket_monoregular';
	src: url("/style/fonts/disket-mono-regular-webfont.woff2") format("woff2"), url("/style/fonts/disket-mono-regular-webfont.woff") format("woff");
	font-weight: normal;
	font-style: normal
}

.bg-good,
.current-reading--is-good,
.reading-info--is-good {
	background: #A2DC61
}

.bg-moderate,
.current-reading--is-moderate,
.reading-info--is-moderate {
	background: #FBD651
}

.bg-sensitive,
.current-reading--is-sensitive,
.reading-info--is-sensitive {
	background: #FD9A57
}

.bg-unhealthy,
.current-reading--is-unhealthy,
.reading-info--is-unhealthy {
	background: #FF6A6E
}

.bg-very-unhealthy,
.current-reading--is-very-unhealthy,
.reading-info--is-very-unhealthy {
	background: #A97BBC
}

.bg-dangerous,
.current-reading--is-dangerous,
.reading-info--is-dangerous {
	background: #9B5974
}

.wrapper {
	overflow: hidden;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #000;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

@media only screen and (min-width: 1080px) {
	.wrapper {
		overflow: hidden;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		color: #000;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.beautiful .wrapper {
	font-family: 'Rubik', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.wrapper a {
	color: darkblue;
	text-decoration: underline;
}

.container {
	overflow: hidden;
	margin: 0 !important;
	height: 75vh;
}	


@media only screen and (min-width: 1080px) {
	.container {
		overflow: hidden;
		margin: 0 !important;
		height: 100vh;
	}	
}

.head {
	width: 100%;
	position: absolute;
	z-index: 999;
	padding: 20px 20px 0;
	margin-right: 10px;
}

.map {
	height: 75vh;
}

@media only screen and (min-width: 1080px) {
	.head {
		position: absolute;
		top: 0;
		left: 0;
		padding: 20px 20px 0;
		margin: 0 auto
	}

	.map {
		height: 100vh;
	}
}

.anchor {
	font-family: 'disket_monobold';
	margin: 0;
	width: 100%
}

.anchor__for-mobile {
	font-size: 24px;
	width: 100%;
	text-align: right;
}

.anchor__for-desktop {
	display: none;
	font-size: 20px;
	line-height: 1;
	margin-right: 20px;
	text-align: right;
}

.anchor a {
	color: inherit;
	text-decoration: none
}

.anchor:hover a {
	text-decoration: underline
}

@media only screen and (min-width: 768px) {
	.anchor__for-mobile {
		display: none
	}
	.anchor__for-desktop {
		display: block
	}
}

@media only screen and (min-width: 1080px) {
	.anchor__for-desktop {
		margin-left: 0
	}
}

.current-reading,
.reading-info {
	overflow: hidden
}

.current-reading {
	max-width: 1040px
}

.reading {
	display: flex;
	flex-direction: row;
	align-items: flex-end
}

@media only screen and (min-width: 768px) {
	.reading {
		align-items: baseline
	}
}

.reading__text {
	font-family: 'disket_monobold';
	margin-top: 30px;
	margin-bottom: 0;
	word-break: break-word;
	line-height: 1;
	width: 90%
}

.reading__text--break-2 {
	width: 80%
}

.reading__text--regular {
	font-size: 96px
}

.reading__text--regular+.reading-help {
	margin-bottom: 8px
}

@media only screen and (min-width: 768px) {
	.reading__text--regular+.reading-help {
		margin-bottom: 0px
	}
}

.reading__text--large {
	font-size: 144px
}

.reading__text--large+.reading-help {
	margin-bottom: 24px
}

@media only screen and (min-width: 768px) {
	.reading__text {
		width: auto
	}
	.reading__text--regular+.reading-help,
	.reading__text--large+.reading-help {
		margin-bottom: 0
	}
}

.reading-index {
	font-size: 36px;
	font-weight: 400;
	margin: 0;
	margin-top: 10px
}

.reading-index b {
	font-weight: 700
}

.reading-desc {
	font-size: 18px;
	line-height: 1.4;
	margin: 0
}

.reading-sensor {
	font-size: 18px;
	line-height: 1.4;
	font-weight: 700;
	margin: 0;
	margin-top: 40px
}

.reading-sensor a {
	font-size: 16px;
	font-weight: 400
}

.reading-lu {
	font-size: 14px;
	line-height: 1.5
}

.actions {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center
}

.actions .btn {
	flex-shrink: 0
}

.btn {
	padding: 16px 54px;
	border-radius: 30px;
	background-color: #000;
	color: #fff;
	border: none
}

.btn:hover {
	background-color: #333
}

.btn img {
	margin-bottom: -8px;
	margin-right: 4px
}

.btn--drop {
	background-image: url("/ico/arrow-down.svg");
	background-position: right 20px center;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	padding: 18px 136px 18px 24px;
	margin-bottom: 10px
}

@media only screen and (min-width: 560px) {
	.btn--drop {
		margin-bottom: 0;
		margin-right: 20px
	}
}


.info {
	padding: 10px 20px;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 1080px) {
	.info {
		padding: 10px 20px;
		width: 25vw;
		display: flex;
		flex-direction: column;
	}
}

.info__title {
	font-size: 30px;
	line-height: 1.4;
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: 700
}

.info__subtitle {
	font-size: 20px;
	line-height: 1.4;
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: 700
}

.info__desc {
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	font-weight: 400
}

.readings {
	list-style-type: none;
	padding-left: 0
}

@media only screen and (min-width: 768px) {
	.readings {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap
	}
}

.reading-info {
	padding-left: 0;
	margin-left: 0;
	margin-bottom: 10px;
	padding: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap
}

.reading-info__description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap  
}

/* .reading-info:last-child {
	margin-bottom: 0
} */

@media only screen and (min-width: 768px) {
	.reading-info {
		/* margin: 10px; */
		flex: 1;
		flex-basis: 25%
	}
	/* .reading-info:first-child,
	.reading-info:nth-child(4) {
		margin-left: 0
	}
	.reading-info:last-child {
		margin-bottom: 10px
	} */
}

.reading-info__title {
	margin: 0;
	font-family: 'disket_monobold';
	font-size: 18px;
	line-height: 1;
	margin-bottom: 8px
}

.reading-info__index {
	font-size: 14px;
	font-weight: 400;
	margin: 0 5px;
	line-height: 1.4
}

.reading-info__index b {
	font-size: 18px;
	font-weight: 700;
	line-height: 1
}

.reading-info__desc {
	font-size: 14px;
	line-height: 1.4;
	/* margin: 10px 0 0 */
}

.separator {
    flex-grow: 2;
}